.donation {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  @media only screen and (max-width: 600px) {
    .donation {
      left: 0;
      right: 0;
      margin: 0 auto;
  
      form {
        text-align: center;
      }
    }
  }