.settings-button-container {
  position: absolute;
  right: 2.5%;
  top: 2.5%;
  background-color: #f1c40f;
  border-radius: 50%;
  cursor: pointer;

  .settings-button {
    display: flex;
  }
}

.dialog {
  .dialog-content {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    align-items: baseline;
    height: 30vh;

    @media only screen and (min-width: 30em) {
      padding-top: 0;
      height: 15vh;
      align-items: center;
      // justify-content: center;
    }

    .custom-deadline-container {
      display: flex;
      flex-direction: column;
      gap: 1em;

      p-button {
        align-self: center;
      }
    }
  }
}

:host ::ng-deep input.p-inputnumber-input {
  width: 100% !important;
  .p-inputnumber {
    display: flex !important;
  }

  @media only screen and (min-width: 64em) {
    //1024px
  }
}
