<div class="container" *ngIf="counterModel !== null">
  <div id="timer">
    <div class="days">
      <div class="numbers">{{ counterModel.days }}</div>
      days
    </div>
    <div class="hours">
      <div class="numbers">{{ counterModel.hours }}</div>
      hours
    </div>
    <div class="minutes">
      <div class="numbers">{{ counterModel.minutes }}</div>
      minutes
    </div>
    <div class="seconds">
      <div class="numbers">{{ counterModel.seconds }}</div>
      seconds
    </div>
  </div>
  <h1>{{ counterModel.deadline_milestone }}</h1>
</div>
