<div class="container center" *ngIf="counterModel !== null else loading">
  <div id="timer">
    <div class="days">
      <div class="numbers">{{ counterModel.days }}</div>
      days
    </div>
    <div class="hours">
      <div class="numbers">{{ counterModel.hours }}</div>
      hours
    </div>
    <div class="minutes">
      <div class="numbers">{{ counterModel.minutes }}</div>
      minutes
    </div>
    <div class="seconds">
      <div class="numbers">{{ counterModel.seconds }}</div>
      seconds
    </div>
  </div>
  <h1>Milestone: {{ counterModel.deadline_milestone }}</h1>
</div>
<ng-template #loading>
  <div *ngIf="loadingCounter" class="container center noDeadline">
    LOADING
  </div>
  <div *ngIf="!loadingCounter" #noDeadline class="container center noDeadline">
    IT'S OVER
  </div>
</ng-template>