<div class="container center" *ngIf="counterModel !== null else loading">
  <div id="timer">
    <div class="days">
      <div class="numbers">{{ counterModel.days }}</div>
      <div class="text">
        days
      </div>
    </div>
    <div class="hours">
      <div class="numbers">{{ counterModel.hours }}</div>
      <div class="text">
        hours
      </div>
    </div>
    <div class="minutes">
      <div class="numbers">{{ counterModel.minutes }}</div>
      <div class="text">
        minutes
      </div>
    </div>
    <div class="seconds">
      <div class="numbers">{{ counterModel.seconds }}</div>
      <div class="text">
        seconds
      </div>
    </div>
  </div>
  <h1>Milestone: {{ counterModel.deadline_milestone }}</h1>
</div>
<ng-template #loading>
  <div *ngIf="loadingCounter" class="container center noDeadline">
    LOADING
  </div>
  <div *ngIf="!loadingCounter && currentDeadlines.length !== 0" #noDeadline class="container center noDeadline">
    IT'S OVER
  </div>
  <div *ngIf="!loadingCounter && customDeadline && currentDeadlines.length === 0" class="container center noDeadline">
    NO CUSTOM DEADLINE
  </div>
</ng-template>
